<section>
    <%= link_to "Museums", museums_path %>
    <a href="listings/index.html.erb" >Exhibits</a>
    <%= link_to "Sign in", new_user_session_path %>

    <a href="devise/sessions/new.html.erb" >Login</a>
</section>