<h1>Navigation partial</h1>

<section id="nav-left" >
    <%= link_to "Museums", museums_path %>
    <%= link_to "Exhibits", listings_path %>
</section>

<section id="nav-left" >
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Log in", new_user_session_path %>
</section>