$button-color: #0074D9;
$dark-grey: rgb(49, 49, 49);
$sea-blue: #0074D9;
$playfair: 'Playfair Display', serif;
$rubik: 'Rubik', sans-serif;

.button {
	background:linear-gradient(to bottom, #0074d9 5%, #d171b7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color', endColorstr='#d171b7',GradientType=0);
	background-color:#0074d9;
	border-radius:28px;
	border:1px solid #0074d9;
	display:inline-block;
	// cursor:pointer;
	color:#ffffff;
	font-family: $rubik;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #0073ff;
}

.button:hover {
	background:linear-gradient(to bottom, #d171b7 5%, #0074d9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d171b7', endColorstr='#0074d9',GradientType=0);
    background-color:#d171b7;
    text-decoration: none;
}

.button:visited {
    text-decoration: none;
}

.button:active {
	position:relative;
	top:1px;
}

// Search styling
.search-bar {
        font-family: $rubik;
        color: $dark-grey;
        font-size: 20px;
    }

// Museums and listings styling

.museum {
    h1 {
        color: $sea-blue;
        font-family: rubik;
        background-color: white;
    }

    p {
        color: $dark-grey;
        font-family: playfair;
        background-color: white;
    }
}

// Navigation styling

.nav-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 5%;
    font-family: $playfair;
    color: $sea-blue;
    text-decoration: none;
}

// Footer styling